.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 20px;
    background-color: silver;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.logo {  
    height: 50px; 
    margin-left: 25px;  
    cursor: pointer;  
}

h2   {
    margin-left: 5px;
}

.nav-links {
    display: flex;
    justify-content: center;
    margin-left: 850px;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 19px;
    
    cursor: pointer;
    padding: 5px 10px;
}

.navbar a:hover {
    color: orangered;
}

.navbar a:last-child {  
    border: 1px solid black;  
    background-color: rgb(72, 172, 206);  
    border-radius: 10px;
}

.navbar a:last-child:hover {  
    background-color: lightblue;  
    color: black;  
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    padding-left: 0;  
    margin-right: 0; 
}

.line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
}

.hamburger:hover .line {
    background-color: orangered;
}

.slide-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100vh;
    background-color: rgb(225, 223, 223);
    transition: width 0.3s ease;
    z-index: 1000;
}

.slide-nav.active {
    width: 250px;
}

.slide-nav.active .close-btn {
    opacity: 1;
    visibility: visible;
}

.close-btn {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease;
}

.close-btn:hover {
    background-color: lightgray;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
}

.backdrop.active {
    opacity: 1;
    visibility: visible;
}
