.navbar {
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 20px 1030px ;  
    background-color: silver;
    display: flex;
}


.navbar a {
    color: black;            
    text-decoration: none;    
    margin-right: 30px;       
    font-size: 15px;      
    font-weight: bold;    
    cursor: pointer;          
}

.navbar a:hover {
    color: GOLD;           
}

