.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 20px;
    background-color: silver;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.logo {  
    height: 50px; 
    margin-left: 25px;  
    cursor: pointer;  
}

h2   {
    margin-left: 5px;
}

.nav-links {
    display: flex;
    justify-content: center;
    margin-left: 850px;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 19px;
    
    cursor: pointer;
    padding: 5px 10px;
}

.navbar a:hover {
    color: orangered;
}

.navbar a:last-child {  
    border: 1px solid black;  
    background-color: rgb(72, 172, 206);  
    border-radius: 10px;
}

.navbar a:last-child:hover {  
    background-color: lightblue;  
    color: black;  
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    padding-left: 0;  
    margin-right: 0; 
}

.line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
}

.hamburger:hover .line {
    background-color: orangered;
}
